.color-primary{
    color:$primaryColor !important;
}
.bg-primary{
    background-color:$primaryColor !important;
}

.color-white{
    color:white !important
}

.color-title{
    color:$textColor
}
.color-appbar{
    background-color:#ffffff !important;
}